html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0; }

:focus {
  outline: 0; }

body {
  font: normal 75%/150% 'latoregular', Arial, Tahoma, Verdana, Georgia, sans-serif;
  font-size: 14px;
  min-width: 100%;
  color: #232323 !important; }

a {
  color: #000;
}

a:hover {
  color: #000 !important;
}

.ps {
  position: relative;
  float: left;
  width: 100%;
}

.wrapper {
  max-width: 1240px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}

.grey-line {
	background: #ededed;
}

.grey-line-text {
	height: 30px;
}