html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0; }

:focus {
  outline: 0; }

body {
  font: normal 75%/150% 'latoregular', Arial, Tahoma, Verdana, Georgia, sans-serif;
  font-size: 14px;
  min-width: 100%;
  color: #232323 !important; }

a {
  color: #000;
}

a:hover {
  color: #000 !important;
}

.ps {
  position: relative;
  float: left;
  width: 100%;
}

.wrapper {
  max-width: 1240px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}

.grey-line {
	background: #ededed;
}

.grey-line-text {
	height: 30px;
  color: #727b83;
}

.grey-line-text a {
  color: #727b83;
}

.grey-line-text .ap {
  position: absolute;
  top: 8px;
  line-height: 1em;
}

.grey-line-text .slogan {
  left: 0;
}

.grey-line-text .email {
  left: 20.5%;
}

.grey-line-text .viber-phone {
  left: 45%;
}

.grey-line-text .viber-phone .viber, .grey-line-text .viber-phone .phone {
  position: relative;
  float: left;
  padding-left: 15px;
  margin-right: 22px;
}

.grey-line-text .viber-phone .viber {
  background: url(../img/viber.svg) left center no-repeat;
  background-size: auto 100%;
}

.grey-line-text .viber-phone .phone {
  background: url(../img/call.svg) left center no-repeat;
  background-size: auto 95%;
}

.grey-line-text .login-block {
  position: absolute;
  right: 0;
  top: 8px;
  line-height: 1em;
  color: #000;
}

.grey-line-text .login-block a {
  color: #000;
}

#content {
  position: relative;
  float: right;
  width: 69.5%;
}

#header-fix {
  height: 42px;
}

#header {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.1);
}

#header .header {
  height: 42px;
  color: #727b83;
  font-size: 17px;
}

#header .header .logo {
  position: absolute;
  top: 10%;
  left: 0;
  height: 80%
}

#header .header .header-full {
  position: absolute;
  top: 9px;
  text-transform: uppercase;
  line-height: 1.3em;
  padding-top: 2px;
}

#header .header .header-menu {
  left: 20.5%;
  padding-left: 28px;
  background: url(../img/menu.svg) left center no-repeat;
  background-size: auto 95%;
}

#header .header .header-search {
  left: 35.4%;
  background: url(../img/search.svg) left center no-repeat;
  background-size: auto 95%;
  padding-left: 24px;
}

#header .header .header-order {
  left: 49.5%;
  background: url(../img/envelope.svg) left center no-repeat;
  background-size: auto 97%;
  padding-left: 27px;
}

#header .header .header-slogan {
  position: absolute;
  top: 9px;
  left: 64.5%;
  line-height: 1.3em;
  padding-top: 1px;
}

#header .header .header-cart {
  position: absolute;
  right: 0;
  top: 8px;
  padding-left: 31px;
  line-height: 0.8em;
  text-align: right;
}

#header .header .header-cart .cart-small {
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 1em;
}

#header .header .header-cart .cart-ico {
  position: absolute;
  top: 0;
  left: 0;
  width: 27px;
  bottom: 0;
  background: url(../img/shopping-cart.svg) top center no-repeat;
  background-size: 100% auto;
}

#main {
  margin-top: 17px;
}

#left-col {
  position: relative;
  float: left;
  width: 20%;
}

#left-col .left-menu {
  list-style: none;
}

#left-col .left-menu a {
  color: #727b83;
}

#content {
  position: relative;
  float: right;
  width: 79.5%;
}

#content .main-page h1 {
  text-transform: uppercase;
  font-size: 22px;
  color: #f00;
  margin-top: 0;
  margin-bottom: 5px;
}

#content .main-page .title-line {
  border-bottom: 1px solid #f00;
}

#slider {

}

#quick-ord-block div, #quick-ord-block span, #quick-ord-block a {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  color: #727b83;
}

#quick-ord-block .quick-order-back {
  background: url(../img/back-line.jpg) top center repeat-y;
}

#quick-ord-block {
  margin-top: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  line-height: 28px;    
}

#quick-ord-block.fix-mrg-top {
  margin-top: 10px;
}

#quick-ord-block .line-left {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  background: #fefcf9;
}

#quick-ord-block .line-right {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  background: #fdf1df;
}

#quick-order {
  padding-top: 1px;
}

#quick-order .ico-nets {  position: absolute;
  top: 0;
  left: -18px;
  background-size: auto 100%;
  height: 31px;
  width: 31px;
  border: 1px solid #8b51a2;
  border-radius: 20px;
}

#quick-order .ico-viber {
  background: url(../img/viber_net.svg) center center no-repeat;
  background-size: 19px auto;
}

#quick-order .ico-whatsapp {
  background: url(../img/whatsapp.svg) center center no-repeat;
  background-size: 19px auto;
  border-color: #009e00;
}

#quick-order .ico-telegram {
  border-color: #00a7e4;
  background: url(../img/telegram.svg) center center no-repeat;
  background-size: 19px auto;
}

#quick-order .ico-instagram {
  border-color: #e70271;
  background: url(../img/inst.svg) center center no-repeat;
  background-size: 17px auto;
}

#quick-order .ico-facebook {
  border-color: #245a9c;
  background: url(../img/facebook-logo.svg) center center no-repeat;
  background-size: 17px auto;
}

#quick-order .ico-vkontakte {
  border-color: #1f628d;
  background: url(../img/vkontakte-logo.svg) center center no-repeat;
  background-size: 17px auto;
}

#quick-order .ico-skype {
  background: url(../img/skype.svg) center center no-repeat;
  background-size: 20px auto;
  border-color: #00aaf1;
}

#quick-order .ico-ok {
  background-position: -335px top;
  border-color: #ee6600;
}

#quick-order .ico-pin {
  background-position: -382px top;
  border-color: #cb2028;
}

#quick-order .quick-order-title {
  position: relative;
  float: left;
  font-size: 19px;
  text-transform: uppercase;
  font-family: 'latobold';
  margin-top: 0;
  margin-right: 18px;
  padding-left: 8px;
  line-height: 33px;
}

#quick-order .quick-order-line {
  position: relative;
  float: left;
}

#quick-order .quick-order {
  position: relative;
  float: left;
  cursor: pointer;
  padding: 3px 12px 3px 16px;
  margin: -1px 10px 0 18px;
  border-radius: 5px;
  font-family: 'latobold';
  font-size: 16px;
  color: #9f9696;
  text-transform: uppercase;
}

#quick-order .quick-order.left-fix-margin {
  margin-right: 0;
}

#quick-order .quick-order:hover {
  background: #fdf1df;
  text-decoration: none;
}

#footer .footer {
  height: 145px;
}

#footer .footer .footer-box {
  position: relative;
  float: left;
  width: 20.5%;
  padding-top: 45px;
}

#footer .footer .footer-box ul li {
  position: relative;
  float: left;
  width: 100%;
  display: block;
  text-transform: uppercase;
  font-size: 11px;
  margin: 5px 0;
  list-style: none;
  padding-left: 10px;
}

#footer .footer .footer-box ul li:before {
  content: '';
  position: absolute;
  background: url(../img/point.svg) center center no-repeat;
  background-size: 100% auto;
  width: 3px;
  height: 3px;
  left: 0;
  top: 5px;
}

#footer .footer .copyright {
  position: absolute;
  bottom: 15px;
  right: 0;
  font-size: 11px;
  text-transform: uppercase;
}